html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: LightGray;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: 1;
    display: block;
    margin: 8px;
}
div {
    border: 1px solid Chocolate;
}

.logo {
	margin-left: 14px;
	height: 70px;
}
.top-navigation {
	background-color: #fff;
	position: fixed;
	width: 100%;
	border-bottom: 1px solid #DDD;
	z-index: 9999;
}
.top-navigation .content {
	padding: 0px 75px;
	 width: 1070px;
	 margin:0 auto;
}
.top-navigation > .content {
    width: 970px;
    height: 70px;
    margin:0 auto;
}
.top-navigation .links {
    float: right;
    font-family: 'Roboto', sans-serif;
    color: #838994;
    font-size: 16px;
    margin-top: 25px;
    -webkit-font-smoothing: antialiased;
}
.top-navigation .links li {
    display: inline-block;
    margin-left: 25px;
}
.top-navigation .links > .active {
    color: #4c5058;
    font-weight: 500;
}
.top-navigation .links li:hover {
  cursor: pointer;
  color: #333333;
}
.intro {
	background-image: url('../images/first-background copy.jpg');
	background-position: 0 bottom;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
  	overflow: auto;
  	height: 580px;
  	padding: 0px 1px;
	margin:0 auto;
}
.intro .buttons {
    color: white;
    text-align: center;
    margin-top: 1.563rem;
}
button {
	width: 9.688rem;
    background-color: #f15a29;
    border-color: #f15a29;
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    color: white;
    font-size: 1.125rem;
    font-weight: 300;
   }
button:hover {
   background: #ff6708;
   }
button:active {
   background: #f79e31;
   }
.intro h1, .intro h3 {
	color: #FFF;
    text-align: center;
    font-weight: 300;
}
.intro h1 {
	margin-top: 17.5rem;
    font-size: 3.125rem;
}
.intro h3 {
	margin-top: 1.25rem;
    font-size: 1.563rem;
}
.description {
	background-color: #fff;
    overflow: hidden;
    padding-bottom: 5rem;
}
.cases {
	text-align: center;
	background-color: #fff;
    overflow: hidden;
    padding-bottom: 5rem;
}
.cases h2 {
	font-size: 2.75rem;
    margin: 1.625rem 0 3.125rem;
    font-weight: 300;
}
.cases .devices h3 {
    font-weight: 400;
    font-size: 1.563rem;
    margin: 2.5rem 0px 1.875rem;
}
.cases .devices .content {
    display: inline-block;
    /* styles to assist with debugging */
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
	display: flex;
}
.cases ul {
    list-style: none;
}
.cases .devices > li {
    width: 33.3333333%;
    float: left;
}
.social .content li {
	display: inline-block;
}
.social {
  	text-align: center;
	width: 970px;
  	height: 200px;
	margin:0 auto;
	padding: 0px 15px;
	padding-bottom: 9.375rem;
}
hr {
   border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
