html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: LightGray;
}
div {
    border: 1px solid Chocolate;
}
.top-navigation .content {
	pading: 0px 15px;
	 width: 970px;
	 margin:0 auto;
}
.top-navigation > .content {
    width: 970px;
    height: 70px;
    margin:0 auto;
}
.top-navigation .links {
    float: right;
    font-family: 'Roboto', sans-serif;
    color: #838994;
    font-size: 16px;
    margin-top: 25px;
    -webkit-font-smoothing: antialiased;
}
.top-navigation .links li {
    display: inline-block;
    margin-left: 25px;
}
.top-navigation .links > .active {
    color: #4c5058;
    font-weight: 500;
}
.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}
.intro {
	background-image: url('../images/first-background copy.jpg');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
  	overflow: auto;
  	height: 45.938rem;
}
.welcome {
	position: absolute;
	top: 350px;
	left: 150px;
	font-size: 6em;
}
h1 h3 {
	font-color: white;
}

.button {
 
   }
.button:hover {
   background: #ff6708;
   }
.button:active {
   background: #f79e31;
   }