html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: LightGray;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: 1;
    display: block;
    margin: 8px;
}
div {
    border: 1px solid Chocolate;
}

.logo {
	margin-left: 14px;
	height: 70px;
}
.top-navigation {
	background-color: #fff;
	position: fixed;
	width: 100%
	border-bottom: 1px solid #DDD;
	z-index: 9999;
}
.top-navigation .content {
	padding: 0px 75px;
	 width: 970px;
	 margin:0 auto;
}
.top-navigation > .content {
    width: 970px;
    height: 70px;
    margin:0 auto;
}
.top-navigation .links {
    float: right;
    font-family: 'Roboto', sans-serif;
    color: #838994;
    font-size: 16px;
    margin-top: 25px;
    -webkit-font-smoothing: antialiased;
}
.top-navigation .links li {
    display: inline-block;
    margin-left: 25px;
}
.top-navigation .links > .active {
    color: #4c5058;
    font-weight: 500;
}
.top-navigation .links li:hover {
  cursor: pointer;
  color: #333333;
}
button {
	background-color: orange;
 	border-radius: 4px;
 	font-size: 16px;
 	border: none;
 	margin:0 auto;
   }
button:hover {
   background: #ff6708;
   }
button:active {
   background: #f79e31;
   }
section.intro {
   	margin: 0;
    padding:8em;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
   }
.intro {
	background-image: url('../images/first-background copy.jpg');
	background-position: 0 bottom;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
  	overflow: auto;
  	height: 580px;
  	padding: 0px 15px;
	margin:0 auto;
}
.intro h1 h3 {
	font-weight: 300;
	font-color: #FFF;
}
.description {
	background-color: #fff;
    overflow: hidden;
    padding-bottom: 5rem;
}
.cases {
	background-color: #fff;
    overflow: hidden;
    padding-bottom: 5rem;
}
.cases h2 {
	font-size: 2.75rem;
    margin: 1.625rem 0 3.125rem;
    font-weight: 300;
}
.cases .devices .caseicon {
	text-align: center;
    width: 33.3333333%;
    display: inline-block;
    /* styles to assist with debugging */
    border: 1px solid black;
    box-sizing: border-box;
    height: 4em;
	display: flex;
}
.social .content li {
	display: inline-block;
}
.social {
  	text-align: center;
	width: 970px;
  	height: 200px;
	margin:0 auto;
	padding: 0px 15px;
	padding-bottom: 9.375rem;
}
hr {
   border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
